/* 
light blue - rgb(6, 120, 226)
other blue - rgb(14, 160, 218)
dark blue - rgb(5, 5, 116)
*/

* {
    box-sizing: border-box;
    margin: 1;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .logo{
    margin: 0;
  }

  nav{
    background:rgba(6, 3, 168, 0.584) ;
    height: 80px;
    
  }

  .nav__link{
    display: inline-block;
    /* line-height: 50px; */
    margin: 0px;
    
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: none;
  }

  /* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  img {
    height: 80px;
    margin-left: 0.8px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    position: fixed;
    height: 100%;
    width: 105%;
    top: 6.2rem;
    left: 0px;
    background-color: rgba(15, 145, 221, 0.87);
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav__link a:hover {
    background-color: rgb(14, 28, 218);
    /* size: 20px; */
  }
  
  .hide {
    display: none;
  }

  @media screen and (min-width: 950px) {
    .nav__link {
      /* display: block; */
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }

  .main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
}
 
footer a{
  color: white;
}